<div class="footer">
  <div class="contact">
    {% assign gh = site.github %}
    {% if gh.owner_name %}
    <img src="{{gh.owner_gravatar_url}}" alt="Martynov Myroslav" width="64" height="64" />
    <p>
      {{ gh.owner_name }}<br />
      front-end developer<br />
      <a href="{{gh.owner_url}}">{{gh.owner_url}}</a>
    </p>
    {% endif %}
  </div>
  <div class="contact">
    <p>
      <a href="https://github.com/mir4a">github.com/mir4a</a><br />
      <a href="https://twitter.com/mir4a_en">twitter.com/mir4a_en</a><br />
    </p>
  </div>
</div>