<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  <title>{{ page.title }}</title>

  <meta name="og:url" content="www.mir4a.pp.ua">
  <meta name="og:type" content="website">
  <meta name="og:title" content="{{ page.title }}">
  <meta name="og:locale" content="en_US">

  <meta name="og:image" content="{{ site.url }}/images/Martynov_Myroslav._Front-end_developer.jpg">
  <meta name="og:image:type" content="image/jpeg">
  <meta name="og:image:width" content="500">
  <meta name="og:image:height" content="500">

  <meta name="og:image" content="{{ site.url }}/images/Martynov_Myroslav._Front-end_developer.jpg">
  <meta name="og:image:type" content="image/jpeg">
  <meta name="og:image:width" content="500">
  <meta name="og:image:height" content="500">

  <meta name="og:site_name" content="Miroslav Martynov">
  <meta name="og:updated_time" content="{{ site.time }}">

  <meta name="fb:profile_id" content="mir4a">
  <meta name="fb:app_id" content="639182646216193">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:creator" content="@mir4a_en">
  {% if page.video %}
    <meta name="og:video" content="{{ page.video }}">
    <meta name="twitter:player" content="{{ page.video }}" >
  {% endif %}



  {% assign first_cat  = page.categories | first %}
  {% if first_cat == "blog" %}
    {% if page.description %}
      <meta name="twitter:description" content="{{ page.description }}">
      <meta name="description" content="{{ page.description }}">
    {% else %}
      <meta name="twitter:description" content="{{ page.content | strip_html | truncatewords: 22 }}">
      <meta name="description" content="{{ page.content | strip_html | truncatewords: 22 }}">
    {% endif %}
  {% else %}
    <meta name="twitter:description" content="Martynov Miroslav. Front-end developer.">
    <meta name="description" content="Martynov Miroslav. Front-end developer.">
  {% endif %}

  <meta name="twitter:domain" content="www.mir4a.pp.ua">
  <meta name="twitter:site" content="@mir4a_en">
  <meta name="twitter:image:src" content="{{ site.url }}/images/social_100.jpg">


  <!--<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>-->
  <script src="/javascripts/jquery-2.1.3.min.js"></script>
  <link rel="stylesheet" href="/css/fap.css" />
</head>
<body>

<div class="wrap">

  <div class="container">
    <div class="header">
      <a class="logo" href="/">{{ site.name }}</a>
    </div>

    {{ content }}

    {% include footer.html %}
  </div>
</div>

{% include analytics.html %}
<script src="/javascripts/battery.js"></script>
</body>
</html>
